body {
  direction: rtl;
  unicode-bidi: embed
}

.potter-float-left {
  float: right
}

.potter-float-right {
  float: left
}

.potter-page table th, .potter-page .potter-table th {
  text-align: right
}

.potter-page table caption, .potter-page .potter-table caption {
  text-align: right
}

.potter-grid>* {
  float: right
}

.potter-text-left {
  text-align: right
}

.potter-text-right {
  text-align: left
}

img.alignright, figure.alignright {
  float: left
}

img.alignleft, figure.alignleft {
  float: right
}

.gallery .gallery-item {
  float: right
}

.skip-link {
  position: absolute;
  left: auto;
  right: 0
}

.potter-menu-item-search .potter-menu-search {
  right: auto;
  left: 0
}

.potter-sub-menu>.menu-item-has-children>a:after, .potter-sub-menu>.menu-item-has-children:not(.potter-mega-menu)>.sub-menu>.menu-item-has-children>a:after {
  display: none
}

.potter-sub-menu>.menu-item-has-children>a:before {
  font-size: 14px;
  margin-right: 5px;
  font-family: "potter";
  content: "\f102";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.potter-sub-menu>.menu-item-has-children:not(.potter-mega-menu)>.sub-menu>.menu-item-has-children>a:before {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  font-family: "potter";
  content: "\f104";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.potter-sub-menu>.menu-item-has-children:not(.potter-mega-menu)>.sub-menu>.menu-item-has-children>.sub-menu {
  left: auto;
  right: 100%
}

.potter-menu-right .potter-menu>.menu-item, .potter-menu-left .potter-menu>.menu-item, .potter-menu-stacked .potter-menu>.menu-item, .potter-menu-stacked-advanced .potter-menu>.menu-item, .potter-menu-centered .potter-menu>.menu-item, #potter-pre-header .potter-menu>.menu-item {
  float: right
}

.potter-menu-right .potter-menu {
  float: left
}

.potter-menu-left .potter-logo-container {
  text-align: left
}

.potter-menu-left .potter-menu {
  float: right
}

.potter-menu-stacked .potter-menu {
  text-align: right
}

.potter-menu-toggle-container {
  text-align: left
}

#potter-pre-header .potter-menu {
  float: left
}

#potter-pre-header .potter-inner-pre-header-right .potter-menu {
  float: left
}

#potter-pre-header .potter-inner-pre-header-right .potter-menu .sub-menu {
  text-align: right
}

#potter-pre-header .potter-inner-pre-header-left .potter-menu {
  float: right
}

.potter-sidebar-left .potter-main {
  float: left
}

.potter-grid-divider>[class*="potter-medium-"]:nth-child(n+2):not(.potter-medium-1-1) {
  border-left: none;
  border-right: 1px solid #d9d9e0
}

.potter-footer-two-columns .potter-inner-footer-right, .potter-footer-two-columns .potter-inner-pre-header-right, .potter-pre-header-two-columns .potter-inner-footer-right, .potter-pre-header-two-columns .potter-inner-pre-header-right {
  text-align: left
}

.comment .avatar {
  margin-right: 0;
  margin-left: 10px
}

.comment .comment-edit-link {
  right: auto;
  left: 20px
}

.scrolltop {
  right: auto;
  left: 20px
}

span.wpcf7-not-valid-tip {
  left: auto;
  right: 5px
}
